# System files
.DS_Store
Thumbs.db

# IDE/editor folders
.vscode/
.idea/

# OS junk
*.log

# Sensitive data
*.env

# Chrome extension artifacts
*.zip
# Lokalna analiza slike
*.jpg
*.jpeg
*.png
*.gguf
*.pt
*.bin
*.ckpt
__pycache__/
venv/
image_analysis/*.txt
image_analysis/__pycache__/
